In [ ]:
"""
# Everything is an object in python
# There are no builtin data types
# Everything is runtime, There is no compile time
# int,float,str,bool,complex,None are immutable objects!
"""
x=10
print(x,id(x),type(x))
y=x
x=x+1 # Here a new object gets created
print(x,id(x),type(x))
x=3.142 # There is no double object in python  
print(x,id(x),type(x))
x='a' # There is no char in python. Everything is a str object 
print(x,id(x),type(x))
x=False 
print(x,id(x),type(x))
x=None
print(x,id(x),type(x))
x=3+5j
print(x,id(x),type(x))

In [ ]:
# There are 3 different ways to do formatting in python
player="sachin"
runs=100
average=75.45
# C style of formatting
print("Player is %10s\nRuns scored is %d\nAverage is %.2f\n"%(player,runs,average))
# str.format() function till python 3.6
print("Player is {0}\nRuns scored is {1} {1}\nAverage is {2} {2} {2}\n".format(player,runs,average))
# f-string function can be used after python 3.6
print(f"Player is {player}\nRuns scored is {runs} {runs}\nAverage is {average}\n")

In [ ]:
var1=float(input("Enter first number "))
# int() ctor of class int 
var2=input("Enter second number ")
var2=float(var2)
print(f"values are {var1} and {var2}")
print(f"values are {type(var1)} and {type(var2)}")
print(f"sum of {var1} and {var2} is {var1+var2}")

In [ ]:
var1=eval(input("Enter first number "))
var2=eval(input("Enter second number "))
print(f"values are {var1} and {var2}")
print(f"values are {type(var1)} and {type(var2)}")
print(f"sum of {var1} and {var2} is {var1+str(var2)}")

In [ ]:
print(10%3)
print(10/3)
print(10//3) # floor division
print(2**16) # ** power
print(4**0.5) # sqrt
print(5*2)

In [ ]:
# Take BS as input from user
# 30%BS = HRA
# 20%BS = DA
# GS=HRA+DA+BS+PF+PT
# NS=GS-PF-PT
# use conversion functions like int() float() str() eval()
# use proper operators like % / //  + -
# proper formatting using C-style, str.format() and f-strings

3 mandatory things to follow when you write code
1. use snake_case to name references and function names 
use lengthy identifiers which will reflect the purpose of the indentifier
for(i=0;i<n;++i) for(emp_id=1;emp_id<no_employees;++emp_id){}
show() display() show_employee_details() display_vehicle_details()
2. write single line of code # docstring 100 lines
3. be consistent with spaces and tabs
() with :
{} ident and outdent
if()   if condition:
{          print("hello")
       print("program continues!")
}

In [ ]:
# class str
print('cannot print \'single quotes\'  within single quotes')
print("cannot print 'single quotes' within double quotes")
print("cannot print \"double quotes\" within double quotes")
print("can print 'single quotes' within double quotes")
print('can print "double quotes" within single quotes')

print("""
    you can enclose 'single quotes'
    as well as "double quotes"
    any number of times. You dont have to use any escape sequences
""")

print('''
    you can enclose 'single quotes'
    as well as "double quotes"
    any number of times. You dont have to use any escape sequences
''')

In [ ]:
# To use index slicing mechanism using []
guideline1="How to write beautiful python code using pep 8"
print(guideline1)
print(guideline1[:],guideline1[::])
print(guideline1[0],guideline1[-1]) # H # 8
print(guideline1[-6:]) # pep 8  
print(guideline1[0:3]) # How  
# [start:next_to_last:step_count]
print(guideline1[0:15:2]) # How  
print(guideline1[::-1])  # reverse the string
print("Total number of characters",len(guideline1))
print(dir(str)) # __add__ dunder methods
#print(help(str))
print(guideline1*5)

In [ ]:
mystring="python"
print(mystring.isdigit())
print(mystring.isascii())
print(mystring.isascii())
print(mystring.islower())
print(mystring.isalpha())
print(mystring.isnumeric())
print(mystring.rjust(50))
print(mystring.ljust(50))
print(mystring.center(50))

In [ ]:
# Note str object is immutable meaning whenever you use any string function it creates a new object

mystring="      python is beautiful and interesting python   "
mystring=mystring.strip()
#print(mystring)
#mystring=mystring.upper()
print(mystring.lower())
print(mystring.title())
print(mystring.capitalize())
print(mystring.swapcase())
print(mystring.strip("python"))
print(mystring.lstrip("python"))
print(mystring.rstrip("python"))

In [ ]:
data="ipython3.11"
version=data.strip("ipython")
version=float(version)
print(type(version),type(float(version)))
print(version)
language=data.strip('i').strip("3.11")
print(language)

In [ ]:
email="deva@gmail.com"
mylist=email.split("@")
print(type(mylist))
print("user name is ",mylist[0])
print("domain name is ",mylist[1])

In [ ]:
date="4-5-2022"
mydate=date.split("-")
print("Day is",int(mydate[0]))
print("month is",int(mydate[1]))
print("year is",int(mydate[2]))

In [ ]:
mystring="python is easy python python"
print(mystring.startswith('python'))
print(mystring.endswith('easy'))
print("position of p",mystring.find("python"))
print("next position of p",mystring.find("python",1))
print("position of p",mystring.index("python"))
print("next position of p",mystring.index("python",1))
print(mystring.find("ansible")) # returns -1 if str is not present
try:
    print(mystring.index("ansible")) # valueError substring not found
except ValueError:
    print("string is not present!")
print("count is", mystring.count("python"))
print(mystring.replace("python","dockers"))
print(mystring)

In [ ]:
#import math
#print(dir(math))
#help(math.factorial)
#print(math.factorial(5))

In [ ]:
# collections list [] tuple () set {} dict {key:value}
# list is a collection of hetergeous mutable elements

banks=["sbi","axis","hdfc","axis","sbi"]
print(banks,id(banks))
"""
print("Total number of banks",len(banks))
print("Count of axis banks",banks.count("axis"))
print("Count of axis banks",banks.count("axis"))
print(banks.sort())
print(banks,id(banks))
banks.reverse()
print(banks,id(banks))
print(banks[::-1])
print("First bank is ",banks[0])
print("last bank is ",banks[-1])
print("Every next bank is ",banks[::2])
"""
#print(dir(list))
banks.append("yes bank")
banks.append("icici")
banks.insert(0,"pnb")
banks.insert(1,"sarawat bank")
mybanks=["axis","bob","idbi"]
banks.extend(mybanks)
mybanks=["oriental bank","kotak","union bank"]
banks.append(mybanks) 
print(banks)
print("Last element is ",banks[-1])
print("Last element is ",banks[12])
print("Union bank element is ",banks[12][2])
banks.pop()
banks.pop()
banks.pop()
banks.pop()
banks.pop(0)
print("Poped element is ",banks.pop(2)) # pop returns poped element
banks.remove('sbi') # remove returns None 
#print("Removed bank is ",banks.remove('yes bank'))
print("count of icici",banks.count('icici'))
print("position of icici",banks.index('icici'))
print(banks)
newbanks=banks # shallow copy
del newbanks
#newbanks=banks.copy() # deep copy
# newbanks.clear()
print(banks,id(banks))
#print(newbanks,id(newbanks))

In [ ]:
print(dir(list))

In [ ]:
x=10
y=x
print(x,id(x))
del x
print(y,id(y))

In [ ]:
print(dir(tuple))

In [ ]:
# tuple is immutable and cannot be modified!
banks=("sbi","axis","hdfc","axis","icici")
print(banks)
print(banks[0])
print(banks[-1])
print(banks[1:3]) 
print(banks[::-1])
print(banks.count('axis'))
print(banks.index('axis'))
newbanks=banks # only shallow copy is allowed on tuple!
print(banks,id(banks))
print(newbanks,id(newbanks))
# del banks[0] # TypeError: 'tuple' object doesn't support item deletion
# banks[0]="muthoot finance" # TypeError: 'tuple' object does not support item assignment
print(banks,id(banks))

In [ ]:
x=100 #int
print(type(x))
x=() # tuple
print(type(x))
x=(100) # int
print(type(x))
x=(100,) # tuple requires , operator
print(type(x))
x=[10,20,30] # list
print(type(x))
x=10,20,30 # tuple writing () is optional for tuple 
print(type(x))
x={} # dict
print(type(x))
x=set({}) # set
print(type(x))
x={10} # set
print(type(x))
x={10:"sachin"} # dict
print(type(x))

In [ ]:
nse=("accenture","4-4-2022",900,500)
print(nse)
"""
print("Company",nse[0])
print("date",nse[1])
print("price",nse[2])
print("shares",nse[3])
"""
company,date,price,shares=nse # multiple variable assingment is used to unpack values from collection
print(f"{company} {date} {price} {shares}")

In [ ]:
# CRUD # create read update delete
nse=(["accenture","4-4-2022",900,500],
     ("hdfc","1-4-2022",100,600),
     ("olectra","5-4-2022",200,600))
print("First record from the database",nse[0])
print("Last record from the database",nse[-1])
print("two records from the database",nse[1:3])
#nse.append(("sbi","1-1-2022",500,500))
nse[0][0]="capgemini"
print(nse)

In [ ]:
cricketers={10:"sachin",99:"sehwag",18:"virat",17:"abd","dhoni":7,"gayle":333}
print(cricketers)
print(cricketers[10])
print(cricketers.get("shane")) # get returns None if the key is not present
print(cricketers["dhoni"]) # [] raise key error if the key is not present
print(cricketers.get(10))
print(cricketers.get("dhoni"))
# Note if the key is not present then the key and value gets added into dict
cricketers[23]="shane warne"
print(cricketers)
# Note if the key is already present then the value gets updated
cricketers[17]="hardik pandya"
#dream11=cricketers.copy() # deep copy
#cricketers.clear() # clear the elements of dict!
print(cricketers)
#print(dream11)
print(cricketers.keys()) # return a list of keys
print(cricketers.values()) # return a list of values
print(cricketers.items()) # return a list of tuples with keys and values
for jersey,player in cricketers.items():
    print(f"{player} plays with {jersey} number")
#cricketers.pop(99) # with pop pass key 
print("pop is ",cricketers,cricketers.pop(99))
print("Poped cricketer is ",cricketers.popitem())
print(cricketers)
dream11={45:"rohit",888:"murli"}
cricketers.update(dream11)
print(cricketers)
#for x,y,z in [10,20,30]: # [(10,20,30)]
    #print(x,y,z)
#for keys in cricketers.keys(): # [] # using for loop to unpack the values from collection
    #print(keys)

In [ ]:
print(dir(dict))

In [ ]:
players=["sachin","sehwag","dhoni"]
cricketers=dict.fromkeys(players)
print(cricketers)
cricketers["sachin"]=10
cricketers["sehwag"]=99
cricketers["dhoni"]=7
cricketers.setdefault("dhoni",333)
cricketers.setdefault("rohit",45)
print(cricketers)

In [5]:
sensex={"hdfc":1600,"olectra":190,"accenture":900}
print(sensex["hdfc"])
print(sensex["olectra"])
sensex={"hdfc":{"high":1600,"low":1500,"current":1550},
        "olectra":{"high":200,"low":100,"current":150},
        "accenture":[1000,900,850]
       }
print("Record of hdfc",sensex["hdfc"])
print("Todays price of hdfc is",sensex["hdfc"]["current"])
print("Todays price for accenture is ",sensex["accenture"][2])

1600
190
Record of hdfc {'high': 1600, 'low': 1500, 'current': 1550}
Todays price of hdfc is 1550
Todays price for accenture is  850

In [34]:
# set is unordered collection of unique heteregenous elements which are mutable
# set can only have immutable elements like int, float, str, bool, complex, tuple, None
# set cannot have sets, dict, list because these are mutable collections!
companies={"wipro","tcs","infosys","tcs","tcs","wipro",("sachin",10,75.67,"india")}
print(companies,type(companies))
companies=set(companies)
print(companies,type(companies),id(companies))
print(dir(set))
companies.add("capgemini")
companies.add("mastercard")
companies.add("redhat")
companies.add(10)
companies.add(1+5j)
companies.add(True)
companies.add(45.67)
companies.remove("redhat")
#companies.remove("ibm") # KeyError: 'ibm'
companies.discard("ibm")
companies.discard("infosys")
myfavorites={"vodafone","renishaw","ptc","wipro","wipro"}
companies.update(myfavorites) # update is to add one set into another set
print(companies,id(companies))
print("Removed element is ",companies.pop()) # any random element from existing set
companies.remove("mastercard")
print(companies)

{'wipro', 'infosys', 'tcs', ('sachin', 10, 75.67, 'india')} <class 'set'>
{'wipro', 'infosys', 'tcs', ('sachin', 10, 75.67, 'india')} <class 'set'> 2182829599648
['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']
{'wipro', True, ('sachin', 10, 75.67, 'india'), 'renishaw', 'mastercard', 10, 'tcs', 45.67, (1+5j), 'capgemini', 'vodafone', 'ptc'} 2182829599648
Removed element is  wipro
{True, ('sachin', 10, 75.67, 'india'), 'renishaw', 10, 'tcs', 45.67, (1+5j), 'capgemini', 'vodafone', 'ptc'}

In [44]:
Indian={"sachin","sehwag","virat","bumrah"}
WestIndies={"lara","gayle","bravo"}
Australia={"warne","mcgrath","gilly","hayden"}
Batsman={"sachin","sehwag","virat","lara","gayle","gilly","hayden"}
Bowlers={"bumrah","bravo","warne","mcgrath"}
Cricketers={"sachin","sehwag","virat","bumrah",
            "lara","gayle","bravo",
            "warne","mcgrath","gilly","hayden"
           }

print(Indian.issubset(Cricketers))
print(Cricketers.issuperset(Indian))
print(Indian.isdisjoint(WestIndies))

print(Indian.union(Australia).union(WestIndies)==Cricketers)
print(Indian.intersection(Cricketers)==Cricketers.intersection(Indian))
print("Indians but not Batsman",Indian.difference(Batsman))
print("Common elements from both datasets but not intersection",Indian.symmetric_difference(Batsman))
print("Indian Batsmans only",Indian.intersection(Batsman))

True
True
True
True
True
Indians but not Batsman {'bumrah'}
Common elements from both datasets but not intersection {'gayle', 'lara', 'gilly', 'hayden', 'bumrah'}
Indian Batsmans only {'sachin', 'virat', 'sehwag'}

In [50]:
Indian={"sachin","sehwag","virat","bumrah"}
Batsman={"sachin","sehwag","virat","lara","gayle","gilly","hayden"}
print("Indian Batsmans only",Indian.intersection(Batsman))

Indian=["sachin","sehwag","virat","bumrah"]
Batsman=["sachin","sehwag","virat","lara","gayle","gilly","hayden"]

common_players=[]
for player in Indian:
    if player in Batsman:
        common_players.append(player)
print(common_players)

Indian Batsmans only {'sachin', 'virat', 'sehwag'}
['sachin', 'sehwag', 'virat']